{% extends 'post/layout/base_layout.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
<div class="container">
    <br><br>
    <div class="post_top">
        <h1 class="text-center">게시판</h1>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-end">
                <input type="text" id="sr_word" value="{{ search_word }}" />
                <input type="button" value="검색" onclick="post_search()" />
            </div>
        </div>
    </div>

    <div class="post_bottom">
        <table class="table table-hover table-striped text-center">
            <thead>
                <tr>
                    <th class="col-md-1">번호</th>
                    <th class="col-md-5">제목</th>
                    <th class="col-md-2">작성일</th>
                    <th class="col-md-1">작성자</th>
                    <th class="col-md-1">조회수</th>
                    <th style="display: none"></th>
                </tr>
            </thead>
            <tbody>
                {% for post in post_list %}
                <tr class="post_detail_tr">
                    {% with postNum=forloop.counter|sub:1 pageCnt=page_num|sub:1|mul:view_cnt %}
                        {% with pagePostNum=postNum|add:pageCnt %}
                            <td>{{ post_all_cnt|sub:pagePostNum }}</td>
                        {% endwith %}
                    {% endwith %}
                    <td>{{ post.POST_TITLE }}</td>
                    <td>{{ post.REG_DT|slice:'0:4' }}-{{ post.REG_DT|slice:'4:6' }}-{{ post.REG_DT|slice:'6:8' }}</td>
                    <td>{{ post.REG_USER_ID }}</td>
                    <td>{{ post.VIEW_CNT }}</td>
                    <td class="postIdTd" style="display: none">{{ post.POST_ID }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" href="{% url 'post/create' %}">등록</a>
    </div>
    <hr>
    <br>
    <div class="paginator">
        <ul class="pagination justify-content-center">
            {% for i in 'x'|rjust:page_len %}
                {% if forloop.counter == page_num %}
                    <li>
                        <input type="button" class="text-primary"
                               style="margin-right: 5px; text-decoration-line: none; font-weight: bold; font-size: 20px; color: blue;"
                               value="{{ forloop.counter }}"
                               disabled>
                    </li>
                {% else %}
                    <li>
                        <input type="button" class="current text-secondary"
                               onclick="page_move('{{ forloop.counter }}')"
                               style="margin-right: 5px; text-decoration-line: none; font-weight: bold; font-size: 20px; color: gray;"
                               value="{{ forloop.counter }}">
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}