{% load static %}
<div class="nav_area">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'main_page' %}">HASH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post/list' %}">게시판</a>
                </li>
                {% if 'sign_session' in request.session %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sign/signout' %}">로그아웃</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sign/signin' %}">로그인</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>